@model IEnumerable<AuthSystem.Models.Postazione>

@{
    ViewData["Title"] = "Index";
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NomePostazione)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descrizione)
            </th>
           
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NomePostazione)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descrizione)
            </td>
        </tr>
}
    </tbody>
</table>
