@model IEnumerable<AuthSystem.Models.Postazione>

@{
    ViewData["Title"] = "Index";
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NomePostazione)
            </th>
            <th> <a asp-action="Create" class="btn btn-outline-success "><i class="far fa-plus-square"></i>Postazione</a> </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NomePostazione)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdPostazione"><i class="fa fa-marker fa-lg"></i></a> |

                <a asp-action="Delete" asp-route-id="@item.IdPostazione" class="text-danger ml-1"><i class="fa fa-trash-alt fa-lg"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>
