@model AuthSystem.Models.Versamenti

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>Versamenti</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id_versamento" />
            <div class="form-group">
                <label asp-for="Numero_pezzi" class="control-label"></label>
                <input asp-for="Numero_pezzi" class="form-control" />
                <span asp-validation-for="Numero_pezzi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Data" class="control-label"></label>
                <input asp-for="Data" class="form-control" />
                <span asp-validation-for="Data" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tempo_prod" class="control-label"></label>
                <input asp-for="Tempo_prod" class="form-control" />
                <span asp-validation-for="Tempo_prod" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Id_articolo" class="control-label"></label>
                <select asp-for="Id_articolo" class="form-control" asp-items="ViewBag.Id_articolo"></select>
                <span asp-validation-for="Id_articolo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <select asp-for="Email" class="form-control" asp-items="ViewBag.Email"></select>
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
