@model AuthSystem.ViewModel.GraficoViewModel

@{
    ViewData["Title"] = "Grafici";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Grafici</h1>

<canvas id="myChart" width="400" height="400"></canvas>


<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.bundle.js"></script>

<script>
var ctx = document.getElementById('myChart');
var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: @Html.Raw(Json.Serialize(@Model.Labels)),
        datasets: [{
            label: 'Numero di pezzi',
            data: @Html.Raw(Json.Serialize(@Model.DataSet)),
            backgroundColor: color,
            borderColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)'

            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true
                }
            }]
        }
    }
});

    function color (context) {
        var index = context.dataIndex;
        var value = context.dataset.data[index];
        return index % 2 ? 'red' :    // else, alternate values in red and green
                'green';
    }
</script>