@model AuthSystem.ViewModel.GraficoComponentiViewModel

@{
    ViewData["Title"] = "Grafici";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Grafici componenti</h1>

@*<canvas id="myChart" width="400" height="400"></canvas>*@

<div class="row">
    <div class="col-md-4">
        <form asp-action="Index">
            <div class="form-group">
                <label class="control-label">Scegli un articolo: </label>
                <select class="form-control" asp-items="Model.Articoli" id="selectArticoli"></select>
            </div>

            <div>
                <label class="control-label">Scegli un componente: </label>
                <select class="form-control" id="dropdown"></select>
            </div>

            <br/>
            <div class="form-group">
                <input type="submit" value="Salva" class="btn btn-primary" />
            </div>

            
        </form>
    </div>
</div>

<script>
    $(document).ready(function () {
        getComponenti();

        $("#selectArticoli").change(function () {
            getComponenti();
        });
    });
</script>

<script>

    function getComponenti() {
        var idArticolo = $("#selectArticoli").val();
        $.ajax({
            url: "GraficiComponenti/GetComponenti?idArticolo=" + idArticolo
        }).done(function (result) {
            $("#dropdown").find('option').remove();
            for (i = 0; i < result.length; i++) {
                $("#dropdown").append('<option value="' + result[i].idArticolo + '">' + result[i].nomeComponente + '</option>');
            }
        });
    }

</script>
