@model AuthSystem.ViewModel.GraficoComponentiViewModel

@{
    ViewData["Title"] = "Grafici";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Grafici componenti</h1>


<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.bundle.js"></script>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Index">
            <div class="form-group">
                <label class="control-label">Scegli un articolo: </label>
                <select class="form-control" asp-items="Model.Articoli" id="selectArticoli"></select>
            </div>

            <div>
                <label class="control-label">Scegli un componente: </label>
                <select class="form-control" id="dropdown"></select>
            </div>

            <br/>
            <div class="form-group">
                <input type="submit" value="Salva" class="btn btn-primary" onclick="renderGrafico()"/>
            </div>

            
        </form>
    </div>
</div>
<canvas id="myChart" width="400" height="400"></canvas>

<script>
    $(document).ready(function () {
        getComponenti();

        $("#selectArticoli").change(function () {
            getComponenti();
        });
        var ctx = document.getElementById('myChart').getContext('2d');
        window.myMixedChart = new Chart(ctx, {
            type: 'bar',
            data: {},
            options: {
                responsive: true,
                title: {
                    display: true,
                    text: 'Chart.js Combo Bar Line Chart'
                },
                tooltips: {
                    mode: 'index',
                    intersect: true
                }
            }
        });
    });
</script>

<script>

    function getComponenti() {
        var idArticolo = $("#selectArticoli").val();
        $.ajax({
            url: "GraficiComponenti/GetComponenti?idArticolo=" + idArticolo
        }).done(function (result) {
            $("#dropdown").find('option').remove();
            for (i = 0; i < result.length; i++) {
                $("#dropdown").append('<option value="' + result[i].idArticolo + '">' + result[i].nomeComponente + '</option>');
            }
        });
    }

</script>

<script>
    function renderGrafico() {
        var chartData = {
            labels: ['January', 'February', 'March', 'April', 'May', 'June', 'July'],
            datasets: [{
                type: 'line',
                label: 'Dataset 1',
                borderColor: window.chartColors.blue,
                borderWidth: 2,
                fill: false,
                data: [
                    randomScalingFactor(),
                    randomScalingFactor(),
                    randomScalingFactor(),
                    randomScalingFactor(),
                    randomScalingFactor(),
                    randomScalingFactor(),
                    randomScalingFactor()
                ]
            }, {
                type: 'bar',
                label: 'Dataset 2',
                backgroundColor: window.chartColors.red,
                data: [
                    randomScalingFactor(),
                    randomScalingFactor(),
                    randomScalingFactor(),
                    randomScalingFactor(),
                    randomScalingFactor(),
                    randomScalingFactor(),
                    randomScalingFactor()
                ],
                borderColor: 'white',
                borderWidth: 2
            }, {
                type: 'bar',
                label: 'Dataset 3',
                backgroundColor: window.chartColors.green,
                data: [
                    randomScalingFactor(),
                    randomScalingFactor(),
                    randomScalingFactor(),
                    randomScalingFactor(),
                    randomScalingFactor(),
                    randomScalingFactor(),
                    randomScalingFactor()
                ]
            }]

        };
       /* chartData.datasets.forEach(function (dataset) {
            dataset.data = dataset.data.map(function () {
                return randomScalingFactor();
            });
        });*/
        window.myMixedChart.datasets = chartData;
        window.myMixedChart.update();
       
    }

</script>
 
