@model AuthSystem.ViewModel.GraficoComponentiViewModel

@{
    ViewData["Title"] = "Grafici";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Grafici componenti</h1>

@*<canvas id="myChart" width="400" height="400"></canvas>*@

<div class="row">
    <div class="col-md-4">
        <form asp-action="Index">
            <div class="form-group">
                <label class="control-label">Scegli un articolo: </label>
                <select class="form-control" asp-items="Model.Articoli" id="selectArticoli"></select>
            </div>

            <div>
                <label class="control-label">Scegli un componente: </label>
                <select class="form-control" id="dropdown"></select>
            </div>

            <br/>
            <div class="form-group">
                <input type="submit" value="Salva" class="btn btn-primary" />
            </div>

            
        </form>
    </div>
</div>

<script>
    $(document).ready(function () {
        getComponenti();

        $("#selectArticoli").change(function () {
            getComponenti();
        });
    });
</script>

<script>

    function getComponenti() {
        var idArticolo = $("#selectArticoli").val();
        $.ajax({
            url: "GraficiComponenti/GetComponenti?idArticolo=" + idArticolo
        }).done(function (result) {
            $("#dropdown").find('option').remove();
            for (i = 0; i < result.length; i++) {
                $("#dropdown").append('<option value="' + result[i].idArticolo + '">' + result[i].nomeComponente + '</option>');
            }
        });
    }

</script>

<script>
    var chartData = {
        labels: ['January', 'February', 'March', 'April', 'May', 'June', 'July'],
        datasets: [{
            type: 'line',
            label: 'Dataset 1',
            borderColor: window.chartColors.blue,
            borderWidth: 2,
            fill: false,
            data: 
    window.onload = function () {
        var ctx = document.getElementById('canvas').getContext('2d');
        window.myMixedChart = new Chart(ctx, {
            type: 'bar',
            data: chartData,
            options: {
                responsive: true,
                title: {
                    display: true,
                    text: 'Chart.js Combo Bar Line Chart'
                },
                tooltips: {
                    mode: 'index',
                    intersect: true
                }
            }
        });
    };

    document.getElementById('randomizeData').addEventListener('click', function () {
        chartData.datasets.forEach(function (dataset) {
            dataset.data = dataset.data.map(function () {
                return randomScalingFactor();
            });
        });
        window.myMixedChart.update();
    });
</script>
