@model AuthSystem.Models.Articolo

@{
    ViewData["Title"] = "Elimina articolo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Elimina</h1>

<h3>Sei sicuro di voler eliminare quest'articolo?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NomeArticolo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NomeArticolo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Descrizione)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Descrizione)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="IdArticolo" />
        <input type="submit" value="Elimina" class="btn btn-danger" /> |
        <a asp-action="Index">Torna alla lista</a>
    </form>
</div>
